body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0 auto;
    background-image: url("images/rockywall_@2X.png");
    background-repeat: no-repeat;
    background-image: center;
    background-size: cover;
}

header {
    background-color: #ffffff;
    border-bottom: 2px #cccccc solid;
    height: 80px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.header-content {
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    float: left;
    background: #4aaaa5;
    color: #ffffff;
    margin: 0 auto;
    padding: 20px;
    height: 38px;
}

nav {
    float: right;
    padding: 30px 0;
}


a.nav {
    color: #cccccc;
    opacity: 0.40;    
}

a.nav:link {
    color: #dddddd;
    text-decoration: none;
}

a.nav:visited {
    color: #202428;
    text-decoration: none;
}

a.nav:hover {
    color: #4aaaa5;
    text-decoration: none;
}

a.nav:focus {
    color: #4aaaa5;
    text-decoration: none;
}

a.nav:active {
    color: #202428;
    text-decoration: none;
}

.clearfix {
    overflow: auto;
    width: 960px;
    margin: 0 auto;
    border: 1px #dddddd solid;
    background-color: #ffffff;
}

h2 {
    margin: 30px 20px 25px 20px;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

hr {
    margin: 20px;
    background-color: #777777;
    border-width: 1.5px;
    border-style: solid;
    opacity: 0.3;
}

img.portfolio-pic {
    float: left;
    margin: 10px 20px 20px 20px;
}

p {
    text-align: justify;
    margin: 20px;
    line-height: 2;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    width: 55%;
    margin: 40px 20px;
}

.grid > div {
    width: 250px;
    height: 200px;
    position: relative;
}

a.portfolio-image-labels {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #4aaaa5;
    color: #ebebeb;
    text-align: center;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 8px;
    box-sizing: border-box;
}

a.portfolio-image-labels:link {
    color: #ffffff;
    text-decoration: none;
}

a.portfolio-image-labels:visited {
    color: #ffffff;
    text-decoration: none;
}

a.portfolio-image-labels:hover {
    color: #ffffff;
    opacity: 0.8;
    text-decoration: none;
}

a.portfolio-image-labels:focus {
    color: #666666;
    text-decoration: none;
}

a.portfolio-image-labels:active {
    color: #666666;
    text-decoration: none;
}

.contact-box {
    margin: 20px;
}

.contact-info {
    display: block;
}

.title {
    display: block;
}

input {
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding: 8px;
    margin: 5px 0 20px 0;
    border: 1px #dddddd solid;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 200px;
    font-size: 14px;
    padding: 8px;
    margin: 5px 0 15px 0;
    border-color: #dddddd;
    box-sizing: border-box;
}

.submit > input {
    width: 12%;
    height: 40px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 16px;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    height: 70px;
    background-color: #666666;
    margin-top: 100px;
    border-top: 8px #4aaaa5 solid;
    padding-top: 35px;
    color: #dddddd;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}

@media screen and (max-width: 640px) {

    .header-content {
        width: 100%;
        text-align: center;
    }
    
    h1 {
        width: 94%;
    }

    nav {
        width: 100%;
        background-color: #ffffff;
        border-bottom: 2px #cccccc solid;
        margin-bottom: 40px;
    }
    
    .clearfix {
        width: 90%;
    }

    .portfolio-content {
        align-content: center;
    }
    .grid {
        display: block;
    }

    .grid > img {
        width: 100%;
        position: relative;
        
    }

    .grid > div {
        margin-bottom: 40px;
    }

    a.portfolio-image-labels {
        position: absolute;
    }

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 980px) {

}
